body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #827d94;
}
.container{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(233, 186, 238);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}